<html>
    <head>
        <link rel="stylesheet" href="index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        
        <div id="app">
            <p>{{ message }}</p>
            <p><span v-if="seen">show it</span></p>
            <button v-on:click="runAction">Action {{actNumber}}</button>
            <p><input v-model="myInput"/> {{myInput}}</p>
            <ol>
                <todo-item
                  v-for="item in groceryList"
                  v-bind:todo="item"
                  v-bind:key="item.id"
                ></todo-item>
            </ol>
        </div>
        
        <script src="index.js"></script>
    </body>
</html>
